import { Component } from '@angular/core';

@Component({
	selector: 'spartan-<%= fileName %>-preview',
imports: [

	],
	template: `

	`,
})
export class <%= previewComponentName %> {}

export const defaultImports = `
import {

} from '@spartan-ng/helm/<%= fileName %>';
`;

export const defaultSkeleton = `

`;
