import { Directive } from '@angular/core';
import { BrnComboboxChipInput } from '@spartan-ng/brain/combobox';
import { classes } from '<%- importAlias %>/utils';

@Directive({
	selector: 'input[hlmComboboxChipInput]',
	hostDirectives: [{ directive: BrnComboboxChipInput, inputs: ['id'] }],
	host: {
		'data-slott': 'combobox-chip-input',
	},
})
export class HlmComboboxChipInput {
	constructor() {
		classes(() => 'min-w-16 flex-1 outline-none');
	}
}
