@import '@angular/cdk/overlay-prebuilt.css';
@import '@fontsource/geist-sans/latin.css';
@import '@docsearch/css';

@tailwind base;
@tailwind components;
@tailwind utilities;


select {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
	background-position: right 0.5rem center;
	background-repeat: no-repeat;
	background-size: 1.5em 1.5em;
	-webkit-print-color-adjust: exact;
	appearance: none;
	display: inline-flex;
	align-items: center;
}

:root {
	color-scheme: light;

	--font-sans: 'Geist Sans', sans-serif;

	--background: 0deg 0% 100%;
	--foreground: 0deg 0.02% 3.94%;
	--card: 0deg 0% 100%;
	--card-foreground: 0deg 0.02% 3.94%;
	--popover: 0deg 0% 100%;
	--popover-foreground: 0deg 0.02% 3.94%;
	--primary: 0deg 0.02% 9.06%;
	--primary-foreground: 0deg 0.5% 98.03%;
	--secondary: 0deg 0.24% 96.06%;
	--secondary-foreground: 0deg 0.02% 9.06%;
	--muted: 0deg 0.24% 96.06%;
	--muted-foreground: 0deg 0.01% 45.16%;
	--accent: 0deg 0.24% 96.06%;
	--accent-foreground: 0deg 0.02% 9.06%;
	--destructive: 351.72deg 100% 40.53%;
	--border: 0deg 0.09% 89.82%;
	--input: 0deg 0.09% 89.82%;
	--ring: 0deg 0.02% 63.02%;
	--radius: 0.625rem;

	--sidebar: 300 0% 98%;
	--sidebar-foreground: 300 0% 4%;
	--sidebar-primary: 330 0% 9%;
	--sidebar-primary-foreground: 300 0% 98%;
	--sidebar-accent: 300 0% 96%;
	--sidebar-accent-foreground: 330 0% 9%;
	--sidebar-border: 330 0% 90%;
	--sidebar-ring: 0 0% 63%;

	/* docsearch */
	--docsearch-primary-color: hsl(var(--primary));
}

:root.dark {
	color-scheme: dark;

	--background: 0deg 0.02% 3.94%;
	--foreground: 0deg 0.5% 98.03%;
	--card: 0deg 0.02% 9.06%;
	--card-foreground: 0deg 0.5% 98.03%;
	--popover: 0deg 0.02% 9.06%;
	--popover-foreground: 0deg 0.5% 98.03%;
	--primary: 0deg 0.09% 89.82%;
	--primary-foreground: 0deg 0.02% 9.06%;
	--secondary: 0deg 0.01% 14.94%;
	--secondary-foreground: 0deg 0.5% 98.03%;
	--muted: 0deg 0.01% 14.94%;
	--muted-foreground: 0deg 0.02% 63.02%;
	--accent: 0deg 0% 14.9%;
	--accent-foreground: 0deg 0.5% 98.03%;
	--destructive: 358.76deg 100% 69.84%;
	--border: 0deg 0% 13.73%;
	--input: 0deg 0% 18.43%;
	--ring: 0deg 0.01% 45.16%;

	--sidebar: 300 0% 98%;
	--sidebar-foreground: 300 0% 4%;
	--sidebar-primary: 330 0% 9%;
	--sidebar-primary-foreground: 300 0% 98%;
	--sidebar-accent: 300 0% 96%;
	--sidebar-accent-foreground: 330 0% 9%;
	--sidebar-border: 330 0% 90%;
	--sidebar-ring: 0 0% 63%;

	/* docsearch */
	--dark-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.2);
	--docsearch-modal-background: theme('colors.neutral.900');
	--docsearch-modal-shadow: var(--dark-shadow);
	--docsearch-searchbox-focus-background: theme('colors.neutral.800');
	--docsearch-searchbox-shadow: var(--dark-shadow);
	--docsearch-footer-background: theme('colors.neutral.900');
	--docsearch-footer-shadow: var(--dark-shadow);
	--docsearch-text-color: white;
	--docsearch-hit-background: theme('colors.neutral.800');
	--docsearch-hit-shadow: var(--dark-shadow);
	--docsearch-hit-color: white;
	--docsearch-hit-active-color: theme('colors.primary.foreground');

	--docsearch-container-background: rgba(9, 10, 17, 0.8);
	--docsearch-searchbox-background: theme('colors.neutral.800');
	--docsearch-key-gradient: linear-gradient(180deg, #333, #444);
	--docsearch-key-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	--docsearch-logo-color: white;
	--docsearch-muted-color: theme('colors.neutral.400');
}

@layer base {
	* {
		@apply border-border;
	}
}

[hidden]:where(:not([hidden='until-found'])) {
	display: none !important;
}


/* docsearch */
.DocSearch-Button {
	--docsearch-searchbox-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.2);
	@apply dark:bg-background inline-flex flex-none items-center gap-x-3 overflow-hidden rounded-lg bg-white px-2.5 shadow-black/5 ring-1 ring-transparent focus-within:ring-2 focus-within:ring-blue-500 md:left-[calc(50%-104px)] md:w-52 md:shadow md:ring-black/10 lg:left-[calc(50%-160px)] lg:w-80 md:dark:bg-neutral-800;
}

.DocSearch-Button-Placeholder {
	@apply text-sm font-normal text-neutral-500;
}

.DocSearch-Button .DocSearch-Search-Icon {
	@apply size-4 md:text-neutral-400 md:dark:text-neutral-500;
}

.DocSearch-Button-Keys {
	min-width: unset;
}

.DocSearch-Button .DocSearch-Button-Key {
	--docsearch-key-gradient: transparent;
	@apply top-0 m-0 h-4 w-3 bg-transparent p-0 font-sans text-xs font-medium text-neutral-400 shadow-none dark:text-neutral-500;
}
