import { Directive } from '@angular/core';
import { classes } from '<%- importAlias %>/utils';

@Directive({
	selector: 'span[hlmInputGroupText]',
})
export class HlmInputGroupText {
	constructor() {
		classes(
			() =>
				`text-muted-foreground flex items-center gap-2 text-sm [&_[hlmIcon]]:pointer-events-none [&_[hlmIcon]:not([class*='text-'])]:text-base`,
		);
	}
}
