import { Directive } from '@angular/core';
import { BrnMessageScrollerItem } from '@spartan-ng/brain/message-scroller';
import { classes } from '<%- importAlias %>/utils';

@Directive({
	selector: '[hlmMessageScrollerItem],hlm-message-scroller-item',
	hostDirectives: [
		{
			directive: BrnMessageScrollerItem,
			inputs: ['messageId', 'scrollAnchor'],
		},
	],
	host: {
		'data-slot': 'message-scroller-item',
	},
})
export class HlmMessageScrollerItem {
	constructor() {
		classes(() => 'spartan-message-scroller-item');
	}
}
