import { Directive } from '@angular/core';
import { classes } from '<%- importAlias %>/utils';

@Directive({
	selector: '[hlmPopoverDescription]',
	host: { 'data-slot': 'popover-description' },
})
export class HlmPopoverDescription {
	constructor() {
		classes(() => 'spartan-popover-description');
	}
}
