import { Directive } from '@angular/core';
import { HlmSeparator } from '<%- importAlias %>/separator';
import { classes } from '<%- importAlias %>/utils';

@Directive({
	selector: '[hlmSidebarSeparator],hlm-sidebar-separator',
	hostDirectives: [HlmSeparator],
	host: {
		'data-slot': 'sidebar-separator',
		'data-sidebar': 'separator',
	},
})
export class HlmSidebarSeparator {
	constructor() {
		classes(() => 'spartan-sidebar-separator w-auto');
	}
}
