import { Directive } from '@angular/core';
import { classes } from '<%- importAlias %>/utils';

export const hlmUl = 'my-6 ms-6 list-disc [&>li]:mt-2';

@Directive({
	selector: '[hlmUl]',
})
export class HlmUl {
	constructor() {
		classes(() => hlmUl);
	}
}
