import { Directive } from '@angular/core';
import { classes } from '<%- importAlias %>/utils';

export const hlmBlockquote = 'mt-6 border-border border-s-2 ps-6 italic';

@Directive({
	selector: '[hlmBlockquote]',
})
export class HlmBlockquote {
	constructor() {
		classes(() => hlmBlockquote);
	}
}
